<section class="flex flex-col w-screen h-screen justify-center items-center">
  <h1 class="text-6xl font-black text-gray-200">
    Hey
    <span
      class="text-transparent bg-clip-text bg-gradient-to-br from-pink-600 to-red-200"
      >there</span>
  </h1>
  <p class="text-gray-800 text-xl mt-4">You shouldn't really see this page =]</p>
</section>